.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}

.secondary {
    background: #0066cc;
}

.default {
    background: #003300;
    color: #99ff99;
    outline: none;
}

.red {
    background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
